<!DOCTYPE html>
<html>
    <head>
        <title>DB Web API</title>
    </head>
    <body>
        <form method="post" action="http://127.0.0.1:3000/dbwebapiSubmit">
            <label name="id">
                id:
                <input name="id" type="text">
            </label><br><br>
            <label name="gameName">
                game Name:
                <input name="gameName" type="text">
            </label><br><br>
            <label name="searchKeyword">
                search Keyword:
                <input name="searchKeyword" type="text">
            </label><br><br>
            <label name="gamePrice">
                game price:
                <input name="gamePrice" type="text">
            </label><br><br>
            <label name="gameRating">
                game Rating:
                <input name="gameRating" type="text">
            </label><br><br>
            <label name="gameQTY">
                quantity in stock:
                <input name="gameQTY" type="text">
            </label><br><br>
            <label name="gameImg">
                game image:
                <input name="gameImg" type="text">
            </label><br><br>
            <label name="gamePromo">
                Promo for the game:
                <input name="gamePromo" type="text">
            </label><br><br>
            <label name="gameDescription">
                description:
                <input name="gameDescription" style="width: 350px; height: 100px;">
            </label><br><br>
            <label name="gameRequirement">
                Requirement:
                <textarea name="gameRequirement" style="width: 350px; height: 100px;"></textarea>
            </label><br><br>
            <input type="submit">
        </form>
    </body>
</html>